fastapi
uvicorn[standard]
python-multipart
pydantic

streamlit==1.60.0
requests

chromadb

langchain
langchain-community
langchain-mistralai
langchain-text-splitters

python-dotenv

pypdf
docx2txt
python-pptx
pillow
pytesseract
